button {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-align: center;
    min-width: 64px;
    box-shadow: none;
    height: 75px;
    outline: 0px;
    margin: 0px;
    text-decoration: none;
    border-radius: 4px;
    border-width: 1px;
    border-image: initial;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex: 1 1 0%;

}